<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Standard SPA Routing - EXCLUDE API DIRECTORY
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_URI} !^/api/ [NC]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]

  # Pass Authorization Header to PHP
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
